.header-p{
  background-image: url(../../../assets/bg.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  color: #306db5;
  display: inline-block;
  font-family: Cairo, sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-top: 20px;
  position: relative;
}
.sick-panel{
  width: 35%;
}

.user-details{
background-color:#F7F7F7 ;
}
