<section>
  <!-- As a link -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary p-5">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../../../assets/logo.PNG" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100" style="display: flex; justify-content: space-between; align-items: center;">
          <div class="d-flex services">
            <p class="mx-3">الخدمات</p>
            <p>الاستعلامات</p>
          </div>
          <div class="mx-3">
            <button class="create-email">انشاء حساب </button>
            <button class="btn btn-primary login-btn" style="background-color: #306db5;"><i class="fa-regular fa-user"></i> تسجيل الدخول </button>

          </div>
        </ul>
      </div>
    </div>
  </nav>




  <div class="sick-panel m-auto mt-5">
    @if(error){
    <div class="alert alert-danger text-center">
      <p>{{error}}</p>

    </div>
    }
    <div class=" text-center">

      <p class="header-p"> الإجازات المرضية
      </p>
      <p style="color: #798ca1;
    font-family: Cairo, sans-serif;">خدمة الاستعلام عن الإجازات المرضية تتيح لك الاستعلام عن حالة طلبك للإجازة ويمكنك
        طباعتها عن طريق تطبيق صحتي
      </p>
    </div>
    <form action="" [formGroup]="adminLoginForm" (ngSubmit)="onsubmit()">
      <div>
        <input formControlName="leave_id" type="text" class="form-control" placeholder="رمز الخدمة">
      </div>
      <div class="mt-3">
        <input formControlName="national_id" type="text" class="form-control" placeholder=" رقم الهويه/البطاقة ">
      </div>
<div class="d-flex gap-3">
  <button class="btn btn-primary mt-3 w-100" style="background-color: #306db5;"> استعلام</button>
  <button (click)="reSubmit()" class="btn btn-primary mt-3 w-100" style="background-color: #306db5;"> رجوع للاستعلامات</button>
</div>

    </form>
@if (showDetails) {
  <div class="user-details mt-3 py-4">

    <div class="row" >
      <div class="col-md-6 ">
        <div class="text-center">
          <h6>الاسم:
          </h6>
<p>{{userName}}</p>
        </div>

      </div>
      <div class="col-md-6">
        <div class="text-center">
          <h6>تاريخ إصدار تقرير الإجازة:

          </h6>
          <p>2024-12-02

          </p>
        </div>

      </div>
      <div class="col-md-6">
        <div class="text-center">
          <h6>تبدأ من:

          </h6>
          <p>2024-12-05

          </p>
        </div>

      </div>
      <div class="col-md-6">
        <div class="text-center">
          <h6>وحتى:

          </h6>
          <p>2024-12-05

          </p>
        </div>

      </div>
      <div class="col-md-6">
        <div class="text-center">
          <h6>المدة بالأيام:

          </h6>
          <p> 4
          </p>
        </div>

      </div>
      <div class="col-md-6">
        <div class="text-center">
          <h6>اسم الطبيب:

          </h6>
          <p> جمانة حسن محمد الهلالي

          </p>
        </div>

      </div>
      <div class="col-md-6">
        <div class="text-center">
          <h6>المسمى الوظيفي:
          </h6>
          <p>طبيب عام
          </p>
        </div>
      </div>
    </div>
  </div>
}
  </div>



 <footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 ">
        <div class="row">
          <div class="col-lg-4">
            <div>
              <img src="../../../../public/assets/leen.svg" alt="">
              <img src="../../../../public/assets/الصحه.svg.svg" alt="">
            </div>

          </div>
          <div class="col-lg-8">
            <div class="footer-one">
              <p>منصة صحة معتمدة من قبل وزارة الصحة © 2024


              </p>
              <p>
                سياسة الخصوصية وشروط الإستخدام  | 
  دليل الاستخدام
              </p>
            </div>


          </div>

        </div>

      </div>

      <div class="col-lg-8 mt-2">
        <div class="footer-two d-flex">
          <div class="px-4 d-flex justify-content-between align-items-center footer-twoD">
            <div class="">
              <p class="m-0">الرئيسية </p>

            </div>
 
          </div>
          <div class="px-4 d-flex justify-content-between align-items-center footer-twoD">
            <div class="">
              <p class="m-0">الاسئلة الشائعه </p>

            </div>
 
          </div>
          <div class="px-4 d-flex justify-content-between align-items-center">
            <div class="">
              <p class="m-0">تواصل معانا </p>

            </div>
 
          </div>

          <div class="px-4 d-flex justify-content-between align-items-center footer-twoD">
            <div class="d-flex">
              <i class="fa-brands fa-twitter mx-3"></i>
              <i class="fa-brands fa-youtube"></i>            </div>
 
          </div>

          <div class="px-4 d-flex justify-content-between align-items-center footer-twoD">
            <div class="">
              <p class="m-0">     supportseha.sa
              </p>

            </div>
 
          </div>
          <div class="px-4 d-flex justify-content-between align-items-center">
            <div class="">
              <p class="m-0"> 920002005 </p>

            </div>
 
          </div>


        </div>

      </div>

    </div>
  </div>
 </footer>
</section>