<section>
  @if (errorMsgBol) {
    <div class="alert alert-danger text-center position-fixed top-0 start-50 translate-middle-x z-3" >
      <p>{{errorMsg}}
      </p>
    </div>
  }
  <div class="formHead w-50  m-auto text-center">
    <p>اضافه اجازة</p>
  </div>
  <div>
    <form action="" [formGroup]="AdminPanelForm" (ngSubmit)="onSubmitAdmin()">
      <div class="row w-50 m-auto g-3 p-3">
        <div class="col-lg-12">
          <div>
            <label class="text-start" for="code">رمز الاجازة</label>
            <input formControlName="leave_id" id="code" type="text" class="form-control"
              placeholder="ادخل رمز الاجازة ">
          </div>
        </div>

        <div class="col-lg-12">
          <div>
            <label class="text-start" for="stratPeriod">تاريخ الدخول</label>
            <input formControlName="admission_date_en" id="stratPeriod" type="date" class="form-control"
              placeholder="ادخل تاريخ الدخول">
          </div>
        </div>
        <div class="col-lg-12">
          <div>
            <label class="text-start" for="endPeriod">تاريخ الخروج</label>
            <input formControlName="discharge_date_en" id="endPeriod" type="date" class="form-control"
              placeholder="ادخل تاريخ الخروج">
          </div>
        </div>
        <div class="col-lg-6">
          <div>
            <label class="text-start" for="nameEn">الاسم بالعربي </label>
            <input formControlName="name_en" id="nameEn" type="text" class="form-control"
              placeholder="ادخل الاسم بالعربي ">
          </div>
        </div>
        <div class="col-lg-6">
          <div>
            <label class="text-start" for="nameAr">الاسم بالانجليزي </label>
            <input formControlName="name_ar" id="nameAr" type="text" class="form-control"
              placeholder="ادخل الاسم بالانجليزي ">
          </div>
        </div>
        <div class="col-lg-12">
          <div>
            <label class="text-start" for="national">رقم الهوية </label>
            <input formControlName="national_id" id="national" type="number" class="form-control"
              placeholder="ادخل رقم الهوية ">
          </div>
        </div>
        <div class="col-lg-12">
          <div>
            <!-- <label class="text-start" for="nationality">الجنسيه </label>
            <input formControlName="nationality_id" id="nationality" type="text" class="form-control" placeholder="الجنسيه"> -->
            <label class="text-start" for="nationality">الجنسيه</label>
<!-- <select formControlName="nationality_id" id="nationality"  class="form-control" placeholder="الجنسيه" multiple>
  @for (item of countries; track $index) {
    <option [id]="item.country_name_en" [value]="item.country_name_en">{{item.country_name_en}}</option>

  }

</select> -->
<select class="form-select" formControlName="countryId" id="nationality"  class="form-control" placeholder="الجنسيه">
  @for (item of countries; track $index) {

    <option [id]="item.country_name_ar" [value]="item.id">{{item.country_name_ar}}</option>

  }
  </select>
          </div>
        </div>
        <div class="col-lg-6">
          <div>
            <label class="text-start" for="work"> جهة العمل </label>
            <input formControlName="employer_en" id="work" type="text" class="form-control" placeholder="ادخل  جهة العمل ">
          </div>
        </div>
        <div class="col-lg-6">
          <div>
            <label class="text-start" for="work">جهة العمل بالانجليزي   </label>
            <input formControlName="employer_ar" id="work" type="text" class="form-control" placeholder="ادخل  جهة العمل بالانجليزي">
          </div>
        </div>
        <div class="col-lg-6">
          <div>
            <label class="text-start" for="doc"> اسم الطبيب المعالج </label>
            <input formControlName="physician_name_en" id="doc" type="text" class="form-control"
              placeholder="ادخل  اسم الطبيب المعالج  ">
          </div>
        </div>
        <div class="col-lg-6">
          <div>
            <label class="text-start" for="doc"> اسم الطبيب المعالج بالانجليزي</label>
            <input formControlName="physician_name_ar" id="doc" type="text" class="form-control"
              placeholder="ادخل  اسم الطبيب المعالج بالانجليزي ">
          </div>
        </div>
        <div class="col-lg-6">
          <div>
            <label class="text-start" for="job"> المسمي الوظيفي </label>
            <input formControlName="position_en" id="job" type="text" class="form-control"
              placeholder="ادخل  المسمي الوظيفي  ">
          </div>
        </div>
        <div class="col-lg-6">
          <div>
            <label class="text-start" for="job"> المسمي الوظيفي بالانجليزي</label>
            <input formControlName="position_ar" id="job" type="text" class="form-control"
              placeholder="ادخل  المسمي الوظيفي  بالانجليزي">
          </div>
        </div>

        <div>
          <button class="btn btn-primary w-100 mt-3">اضافه</button>
        </div>
      </div>



    </form>
  </div>
</section>