<section>
  <div  class="formHead w-50  m-auto text-center">
    <p>اضافه اجازة</p>
  </div>
  <div>
    <form action="">
      <div class="row w-50 m-auto g-3 p-3">
        <div class="col-lg-12">
          <div>
            <label class="text-start" for="code">رمز الاجازة</label>
            <input formControlName="code" id="code" type="text" class="form-control" placeholder="ادخل رمز الاجازة ">
          </div>
        </div>
        <div class="col-lg-12">
          <div>
            <label class="text-start" for="period">مدة الاجازة</label>
            <input formControlName="email" id="period" type="text" class="form-control" placeholder="ادخل مدة الاجازة ">
          </div>
        </div>
        <div class="col-lg-12">
          <div>
            <label class="text-start" for="stratPeriod">تاريخ الدخول</label>
            <input formControlName="email" id="stratPeriod" type="date" class="form-control" placeholder="ادخل تاريخ الدخول">
          </div>
        </div>
        <div class="col-lg-12">
          <div>
            <label class="text-start" for="endPeriod">تاريخ الخروج</label>
            <input formControlName="email" id="endPeriod" type="date" class="form-control" placeholder="ادخل تاريخ الخروج">
          </div>
        </div>
        <div class="col-lg-6">
          <div>
            <label class="text-start" for="nameEn">الاسم بالعربي </label>
            <input formControlName="email" id="nameEn" type="text" class="form-control" placeholder="ادخل الاسم بالعربي ">
          </div>
        </div>
        <div class="col-lg-6">
          <div>
            <label class="text-start" for="nameAr">الاسم بالانجليزي </label>
            <input formControlName="email" id="nameAr" type="text" class="form-control" placeholder="ادخل الاسم بالانجليزي ">
          </div>
        </div>
        <div class="col-lg-12">
          <div>
            <label class="text-start" for="national">رقم الهوية </label>
            <input formControlName="email" id="national" type="number" class="form-control" placeholder="ادخل رقم الهوية ">
          </div>
        </div>
        <div class="col-lg-12">
          <div>
            <label class="text-start" for="nationality">الجنسيه  </label>
            <input formControlName="email" id="nationality" type="text" class="form-control" placeholder="الجنسيه">
          </div>
        </div>
        <div class="col-lg-12">
          <div>
            <label class="text-start" for="work"> جهة العمل </label>
            <input formControlName="email" id="work" type="number" class="form-control" placeholder="ادخل  جهة العمل ">
          </div>
        </div>
        <div class="col-lg-12">
          <div>
            <label class="text-start" for="doc"> اسم الطبيب المعالج  </label>
            <input formControlName="email" id="doc" type="text" class="form-control" placeholder="ادخل  اسم الطبيب المعالج  ">
          </div>
        </div>
           <div class="col-lg-12">
          <div>
            <label class="text-start" for="job"> المسمي الوظيفي  </label>
            <input formControlName="email" id="job" type="number" class="form-control" placeholder="ادخل  المسمي الوظيفي  ">
          </div>
        </div>
        <div>
          <button class="btn btn-primary w-100 mt-3">اضافه</button>
        </div>
      </div>


    </form>
  </div>
</section>
